@page
@model Nw.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Forside";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Velkommen til Northwind</h1>
<p>I navigationen ovenfor kan du vælge en side.</p>